# IDE settings
.idea
.vscode
.DS_Store
*/.DS_Store

# Symfony
backend/vendor/
backend/var/
backend/config/jwt/*.pem
backend/.php-cs-fixer.cache
backend/.phpunit.cache/

# All
.env
node_modules
dist
*.tsbuildinfo.playwright-mcp/
backend/tsconfig.tsbuildinfo
